.app-container{
    width: 96%;
    margin: auto;

    h3, h4{
        color: #0a477b;
    }

    .App{
        display: grid;
        grid-template-columns: 1fr 3fr;


        .level2{
            .level3{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                @media screen and (max-width: 720px){
                    grid-template-columns: 1fr;
                }
            }
        }
        @media screen and (max-width: 720px){
            grid-template-columns: 1fr;
        }

    }
    .app-detailed-view{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        @media screen and (max-width: 720px){
            grid-template-columns: 1fr;
        }
    }
}

.form-group{
    position: relative;
    margin: 20px 0;
}